@use "./amp.scss";


.regular-chain { 

@media (min-width: 768px) {
		column-gap: 20px;
		margin-top: 25px;
		position: relative;

		&--bottom-border {
			padding-bottom: 20px;

			&::after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 20px;
				width: calc(100% - 40px);
				height: 1px;
				// background-color: map-get($color, gray-500);
				transform: scaleY(0.5);
			}
		}

		&__child {
			& > * {
				grid-column: span 6;
			}

			& > .story-card {
				grid-template-rows: auto auto 1fr;
				padding-bottom: 0px;

				&::after {
					content: none;
				}

				.story-card__overline {
					font-size: 16px;
				}
			}
		}
	}

	 
}
